.mensagem-header-container {
  display: grid;
  grid-template-columns: 1fr;
  margin: auto;

  background-color: #a34590;
  color: #fff;

  p {
    font-size: 16px;
    font-weight: 500;
    
    margin: auto;
    padding: 15px;

  }
}