.container-card {
  display: flex;
  flex-direction: row;
  flex: 1;
  flex-wrap: wrap;
  background: #030303;
  justify-content: space-around;

  a {
    margin-top: 15px ;
    margin-bottom: 15px ;

    h4{
      margin-top: 20px ;
      margin-bottom: 0;
    }
  }
}