/* Custom */

.carousel-item {
    height: 60vh;
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    text-shadow: 0 0 10px rgba(0,0,0,0.6);
}

.carousel-item-1 {
    background-image: url("../img/banner.jpg");   
}

.carousel-item-2 {
    background-image: url("../img/banner.jpg");   
}

.carousel-item-3 {
    background-image: url("../img/banner.jpg");   
}

.footer {
    background: #f8f9fa;
}