.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

  img{
    margin-bottom: 15px;
  }
}

.App-link {
  color: #61dafb;
}

.verde {
  background-color: green !important;
  border-color: green !important;
  color: white !important;
}

.vermelho {
  background-color: red !important;
  border-color: red !important;
  color: white !important;
}

.azul {
  background-color: blue !important;
  border-color: blue !important;
  color: white !important;
}

.botoes {
  margin: 15px 0;
  
  .btn {
    margin: 0 10px;
  }
}

.flash {
  width: 100%;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
}

.invisivel {
  display: none;
}

.descricao-nota{
  span {
    width: 100%;
    text-align: center;
  }

  input {
    width: 150px;
    margin-left: 10px;
  }
}

.fade-in {
  animation: fadein 1s linear forwards;
}

.fade-out {
  animation: fadeout 1s linear forwards;
}

@keyframes fadein { from { opacity: 0; } to { opacity: 1; visibility: visible; } }
@keyframes fadeout { from { opacity: 1; } to { opacity: 0; visibility: hidden; } }

/**********************************************/

.mensagem-erro {
  color: red;
  font-size: 12px;
}

.erro {
 border-color: red; 
}