.container- {
	margin-top: 40px;
	width: 100%;
	padding: 5px 0;

	h2 {
		font-size: 30px;
		font-weight: 800;
	}

	p {
		font-size: 18px;
		font-weight: 300;
	}
}

.container-products {
	margin-top: -5px;
	height: 400px;
	gap: 20px;
}

.container-products-subtitle {
	margin-top: -20px;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.link-display-block {
	display: block;
	height: 100%;
}

.link- {
	text-align: right;
	color: #f05b78;
}

.price {
	width: fit-content;
	background-color: white;
	color: #f05b78;
	padding: 0 5px;
	left: 3px;
	bottom: 3px;
	
	position: absolute;
}

.product-sm-div {
	border-radius: 3px;
	position: relative;
}

.product-lg-div {
	margin: 10px;
}

.grid {
	display: grid;
}

.item-tp-area-1 {
	grid-area: item-tp-area-1;
}

.item-tp-area-2 {
	grid-area: item-tp-area-2;
}

.item-tp-area-3 {
	grid-area: item-tp-area-3;
}

.item-tp-area-4 {
	grid-area: item-tp-area-4;
}

.item-tp-area-5 {
	grid-area: item-tp-area-5;
}

.item-tp-area-6 {
	grid-area: item-tp-area-6;
}

.grid-template-areas-ct-square-1 {
	grid-template-areas:
		"item-tp-area-1  item-tp-area-1  item-tp-area-2  item-tp-area-3  item-tp-area-6  item-tp-area-6"
		"item-tp-area-1  item-tp-area-1  item-tp-area-4  item-tp-area-5  item-tp-area-6  item-tp-area-6 "
		;
}

.grid-template-areas-ct-square-2 {
	grid-template-areas:
		"item-tp-area-2 item-tp-area-1  item-tp-area-1  item-tp-area-3  item-tp-area-6  item-tp-area-6"
		"item-tp-area-4 item-tp-area-1  item-tp-area-1  item-tp-area-5  item-tp-area-6  item-tp-area-6 "
		;
}

.grid-template-areas-ct-square-3 {
	grid-template-areas:
		"item-tp-area-1  item-tp-area-1  item-tp-area-2  item-tp-area-6  item-tp-area-6  item-tp-area-3"
		"item-tp-area-1  item-tp-area-1  item-tp-area-4  item-tp-area-6  item-tp-area-6  item-tp-area-5"
		;
}

@media (max-width: 768px) {
	.grid-template-areas-ct-square-1, .grid-template-areas-ct-square-2, .grid-template-areas-ct-square-3  {
		grid-template-areas:
			"item-tp-area-1  item-tp-area-2"
			"item-tp-area-3  item-tp-area-4"
			"item-tp-area-5  item-tp-area-6"
			;
	}

	.container-products {
		min-height: 900px;
		max-height: 1200px;
	}

	.container- {
		margin: auto;
		width: 90%;
	}
}

@media (max-width: 1280px) and (min-width: 769px) {
	.grid-template-areas-ct-square-1, .grid-template-areas-ct-square-2, .grid-template-areas-ct-square-3  {
		grid-template-areas:
			"  item-tp-area-1  item-tp-area-2  item-tp-area-3"
			"  item-tp-area-4  item-tp-area-5 item-tp-area-6"
			;
			
	}
	.container- {
		margin: auto;
		width: 90%;
	}

	.container-products {
		max-height: 1200px;
	}

	.product-sm-div {
		min-height: auto;
		max-height: 250px ;
	}
}
