.container-products-ui {
  width: 1166px;
  padding-top: 30px ;
  margin: auto;

  display: grid;
  grid-template-columns: 1fr 60px 1fr;

  .product-image-section {
    //background-color: chartreuse;
    padding: 0 5px;

    .comment-section {
      margin-top: 40px;
      height: 300px;
    }
  }

  .column-separator {
    //background-color: chocolate;
    padding: 0 12px;

    .icon-shape {
      height: 40px;
      width: 40px;
      border-radius: 50%;
      background-color: darkgrey;
      margin: auto;
    }

    .icon-shape + .icon-shape {
      margin-top: 10px;
    }
  }

  .product-info {
    //background-color: cornflowerblue;
    padding: 0 12px;
  
    .category {
      color:#7d7a77;
    }

    .product-name {
      margin-top: 20px;
      text-transform: lowercase;
      font-size: 30px;
      font-weight: 800;
      color: #222;
    }

    .product-brand {
      margin-top: -15px;
    }

    .real-price {
      font-size: 24px;
      color: #f05b78;
      font-weight: 600;
    }

    .fake-price {
      color:#7d7a77;
      font-weight: 400;
      text-decoration: line-through;
    }

    .buttons {
      padding-top: 20px;
      display: grid;
      grid-template-rows: 1fr;
      gap: 10px;

      .button {
        height: 50px;
        font-size: 16px;
        border: 0px;
        border-radius: 3px;
        font-weight: 600;
      }

      .white-button {
        background-color: #fff;
        color: #f05b78;
        border: 1px solid #f4f2f0;
      }

      .pink-button {
        background-color: #f05b78;
        color: #FFF;
      }
    }

    .details {
      margin-top: 40px;
      border: 1px solid #f4f2f0;

      display: grid;
      text-align: center;
      
      h4 {
        margin-top: 20px;
        color: #7d7a77;
        font-weight: 400
      }

      .border-gray {
        border: 1px solid #f4f2f0;
      }
      
      .size{
        grid-area: size;
      }

      .brand {
        grid-area: brand;
      }

      .condition {
        grid-area: condition;
      }

      .code {
        grid-area: code;
      }

      grid-template-columns: repeat(3, 1fr);
      grid-template-areas:
      " size size size " 
      " brand condition code";
    }
  }

  .description {
    margin-top: 20px;
    h3 {
      font-weight: 400;
      color: #7d7a77;
    }
  }

  .seller-info-container {
    margin-top: 40px;
    border: 1px solid #f4f2f0;

    h4 {
      margin-top: 20px;
      color: #7d7a77;
      font-weight: 400
    }

    .seller-info-1 {
      position: relative;
      box-sizing: border-box;
      border: 1px solid #f4f2f0;

      display: grid;
      grid-template-columns: 80px 1fr 50px;

      .button-seguir {
        padding: 0 20px;
        height: 40px;        
        position: absolute;
        right: 15px;
        top: 20px;

        font-weight: 500;
        background-color: #fff;
        color: #f05b78;
        border: 1px solid #f4f2f0;
      }

      .avatar-icon- {
        background-color: darkgrey;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        margin-top: 20px;
        margin-left: 20px;
        margin-bottom: 20px;
      }

      .name-city {
        margin-top: 28px;
        line-height: 5px;

      }
    }

    .seller-info-2 {
      box-sizing: border-box;
      border: 1px solid #f4f2f0;
      text-align: center;

      display: grid;
      grid-template-columns: repeat(3, 1fr);

      p {
        font-weight: 600;
      }
    }
  }
}

@media (max-width: 775px) {
  .container-products-ui {
    width: 90%;
    grid-template-columns: 1fr;
  }

  .icon-shape {
    display: none;
  }
}

@media (max-width: 1166px) {
  .container-products-ui {
    width: 90%;
  }

}