  .Header {
    width: 100%;
    height: 65px;
    z-index: 100;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-left: 5%;
    padding-right: 5%;
		
    background: #000;
    border-bottom: 2px solid rgba( #666, 0.5);
	}
	.Header > h1 {
		color: #fff;
	}
  body {
    padding-top:65px;
  }
  .logo {
    height: 50px;
  }

  .search {
    width: 25%;
  }

  .search-focus {
    width: 30%;
  }

  .margin-left {
    margin-left: 5px ;
  }