.container-login {
  margin: auto;
  text-align: center;
  max-width: 600px;

  .input-group {
    color: black;
    font-size: 16px;
    margin-bottom: 10px;
  }

  .input-group > label {
    width: 100%;
    color: #000;
    display: block;
    padding: 5px;
    margin-left: 60px;
  }

  .input-group > input {
    outline: 0;
    border-radius: 3px;
    border-color: #f16984 ;
    width: 80%;
    height: 40px;
    font-size: 18px;
  }

  h2 {
    padding: 50px 0;
  }

  input {
    width: 80%;
  }

  .label {
    width: 100%;
    text-align: left!important;
  }

  .btn {
    height: 48px;
    padding: 0 20px;
    font-size: 16px;
    font-weight: 600;
    border-width: 1px;
    border-radius: 3px;
    line-height: 46px;
    width: 80%;
  }

  .button-facebook {
    color: #ffffff;
    background: #2c54ae;
    border: 1px solid #2c54ae;
  }

  .button-login {
    color: #ffffff;
    background-color: #f16984;
    border: 1px solid #2c54ae;
  }

  .check-box {
    padding-right: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 768px) {
  .container-login {
    width: 100%;
  }
}