.header-wrap {
  margin-top: 0;
  border-bottom: 1px solid #f4f2f0;
  min-height: 70px;
}

.page-header {
  max-width: 1176px;
  margin: auto;
  padding: 5px;
}

@media (max-width: 1280px) {
  .button-header-1, .separator {
    display: none;
  }
}

.avatar-header-register {
  display: block;
  margin: auto;
}

.back-button-register {
  display: block;
  margin-left: 0px;
}

.input-header {
  height: 40px;
  min-width: 120px;
  max-width: 400px;
  font-size: 18px;
  padding-left: 20px;  
  border-radius: 3px;
}

.header-container li {
  display: inline-block;
}

.separator {
  display: inline-block;
  vertical-align: middle;
  width: 1px;
  height: 34px;
  background: #f4f2f0;
  margin: 0 10px;
}

.button-header-1 {
  height: 100%;
  font-size: 14px;
  font-weight: 600;
  border: none;
  background-color: #FFF;
}

.button-header-1:hover {
  border-bottom: 2px solid  #f05b78;
}

.button-header-2 {
  height: 50px;
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
  background: #f05b78;
  border: 1px solid #f05b78;
  border-radius: 3px;
  padding-left: 20px;
  padding-right: 20px;
}

.button-header-2:hover {
  color: #ffffff;
  background: #eb6882;
  border: 1px solid #f05b78;
}