.espaco-entre-cards {
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

.white-text {
  color: #fff;
  h4 {
    color: #fff;
  }
}

.card-gray {
  background-color: rgba($color: #666, $alpha: 0.3) ;
}

.container {
  
	margin: auto;
  display: flex;
  flex-wrap: wrap;

  justify-content: center;

}

